<div class="header">
  <h2 mat-dialog-title>Add New Contact</h2>
  <button matIconButton mat-dialog-close><mat-icon>close</mat-icon></button>
</div>
<mat-dialog-content>
  <form [formGroup]="contactForm" class="flex flex-col">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Contact name" required />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton mat-dialog-close>Close</button>
</mat-dialog-actions>
