<div class="header">
  <h2 mat-dialog-title>Edit Contact</h2>
  <button matIconButton mat-dialog-close><mat-icon>close</mat-icon></button>
</div>
<mat-dialog-content>
  <form id="contactForm" [formGroup]="contactForm" class="flex flex-col">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Contact name" required />
      <mat-error>Name is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Birthday</mat-label>
      <input matInput formControlName="birthday" [matDatepicker]="picker" placeholder="MM/DD/YYYY">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      @if (birthday?.hasError('matDatepickerParse')) {
      <mat-error>Invalid date format</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-error>Email format invalid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input matInput type="tel" formControlName="phoneNumber" placeholder="000-000-0000">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Relationship</mat-label>
      <mat-select formControlName="relationship">
        @for (status of statuses; track status) {
        <mat-option [value]="status">{{status}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton mat-dialog-close>Close</button>
</mat-dialog-actions>
